table, th, td {
    border: 1px solid black;
}

p, li, th, td {
    color: cornsilk;
}
body {
    background-color: darkgreen;
}
/* button {
    color: darkgrey;
} */
header {
    text-align: center;
    color: cornsilk;
}
label {
    color: white;
}
#exampleFormControlSelect2 {
    width: 100px;
}